<div class="container-fluid footer">
    <div class="row">
      <div class="col-sm-12 header m-t-2 m-b-2">
        <span class="pull-xs-left">
          <span class="cta">Experience it Yourself:</span>
          <span>(727) 317-4902</span>
          <span class="main-color">|</span>
          <span><a href="/contact">Email</a></span>
        </span>
        <span class="pull-xs-right">
          <div class="icons">
            <a class="icon-link" href="https://www.facebook.com/bruiserconversions" target="_blank"><img src='/images/graphics/facebook.png' /></a>
            <a class="icon-link" href="https://www.instagram.com/bruiserconversions/" target="_blank"><img src='/images/graphics/instagram.png' /></a>
            <a class="icon-link" href="https://www.youtube.com/user/BruiserConversions" target="_blank"><img src='/images/graphics/youtube.png' /></a>
          </div>
        </span>
      </div>
    </div>
    <div class="row m-b-3">
      <div class="col-sm-3">
        <div class="nav-title">Power</div>
        <ul class="nav">
          <li class="nav-item">
            <a href="/jeep-ls-conversions">LS</a>
          </li>
          <li class="nav-item">
            <a href="/jeep-hemi-conversions">Hemi</a>
          </li>
          <li class="nav-item">
            <a href="/jeep-diesel-conversions">Diesel</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="nav-title">Body</div>
        <ul class="nav">
          <li class="nav-item">
            <a href="/super-cab">Super Cab</a>
          </li>
          <li class="nav-item">
            <a href="/jk-crew">JK Crew</a>
          </li>
          <li class="nav-item">
            <a href="/overlander">Overlander</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
				<div class="nav-title m-b-1">Subscribe to Our Newsletter</div>
        <form action="//bruiserconversions.us5.list-manage.com/subscribe/post?u=d811f685777a9e7b7d636c5b5&amp;id=b43dde87bf" method="post" class="form-inline subscribe">
        	<div class="form-group m-b-1">
        		<input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email Address">
        	</div>
        	<div class="text-xs-right">
        		<input type="submit" value="Subscribe" name="subscribe" class="btn btn-outline-success btn-outline-brand">
        	</div>
        </form>
      </div>
    </div>

    <div class="copyright">
      <p>&copy; 2012 - {{ .Now.Year }} Bruiser Conversions. All Rights Reserved.</p>
    </div>
  </div>
