<div class="container-fluid footer">
    <div class="row">
      <div class="col-sm-12 header m-t-2 m-b-2">
        <span class="pull-xs-left">
          <span class="cta">Experience it Yourself:</span>
          <span>(727) 317-4902</span>
          <span class="main-color">|</span>
          <span><a href="/contact">Email</span>
        </span>
        <span class="pull-xs-right">
          <div class="icons">
            <a class="icon-link" href="https://www.facebook.com/bruiserconversions" target="_blank"><img src='images/graphics/facebook.png' /></a>
            <a class="icon-link" href="https://www.instagram.com/bruiserconversions/" target="_blank"><img src='images/graphics/instagram.png' /></a>
            <a class="icon-link" href="https://www.youtube.com/user/BruiserConversions" target="_blank"><img src='images/graphics/youtube.png' /></a>
          </div>
        </span>
      </div>
    </div>
    <div class="row m-b-3">
      <div class="col-sm-3">
        <div class="nav-title">Power</div>
        <ul class="nav">
          <li class="nav-item">
            <%= link_to 'LS', page_path('ls_conversions') %>
          </li>
          <li class="nav-item">
            <%= link_to 'Diesel', page_path('diesel_conversions') %>
          </li>
          <li class="nav-item">
            <%= link_to 'Hemi', page_path('hemi_conversions') %>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="nav-title">Body</div>
        <ul class="nav">
          <li class="nav-item">
            <%= link_to 'Super Cab', page_path('body/super_cab') %>
          </li>
          <li class="nav-item">
            <%= link_to 'JK Crew', page_path('body/jk_crew') %>
          </li>
          <li class="nav-item">
            <%= link_to 'Overlander', page_path('body/overlander') %>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
				<div class="nav-title m-b-1">Subscribe to Our Newsletter</div>
				<%= render partial: 'layouts/mailchimp.html.erb' %>
      </div>
    </div>

    <div class="copyright">
      <p>&copy; 2012 - <%= Time.now.year %> Bruiser Conversions. All Rights Reserved.</p>
    </div>
  </div>
